{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'images/logo.png' %}" rel="shortcut icon" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <style>
        @font-face {
            font-family: lobster;
            src: url({% static 'fonts/lobster.ttf' %});
        }
    </style>
</head>

<body>
    <nav>
        <div class="container d-flex justify-content-between p-3">
            <a href="/" class="nav-brand fs-3 text-dark" style="font-family: lobster; text-decoration: none;">Saver</a>
            <a href="{% url 'profile' %}">
                <img src="{% static 'images/logo.png' %}" class="rounded-circle" width="36" height="36" alt="user" />
            </a>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>