{% extends 'base.html' %}
{% load static %}

{% block title %} Home | Saver {% endblock %}

{% block content %}
<h1 class="w-100 text-center">Report new incident</h1>
<hr class="w-100 border-5 border-warning" />
{% if messages %}
{% for message in messages %}
<p class="alert alert-{{message.tags}}">
    {{message}}
</p>
{% endfor %}
{% endif %}
<div class="d-flex flex-column align-items-center justify-content-center">
    <img class="rounded-3 border border-2 border-warning" src="{% static 'images/camera.png' %}" width="256"
        height="256" alt="camera" />
    <a class="btn btn-primary rounded-pill mt-3" href="{% url 'capture' %}">Capture Now</a>
</div>
<div class="bg-warning w-100 p-3 py-4 mt-5 border-top border-5 border-primary">
    <div class="container">
        <h1>Let's save someone's precious life</h1>
        <div class="d-flex mt-5">
        </div>
    </div>
</div>
{% endblock %}