{% extends 'base.html' %}
{% load static %}

{% block title %}Profile | Saver{% endblock %}

{% block content %}
<div class="d-flex flex-column">
    <img src="{% static 'images/user.png' %}" alt="user" class="mx-auto rounded-circle" width="64" height="64" />
    <h1 class="mx-auto my-3">Update Profile</h1>
</div>
<hr class="border-5 border-warning w-100" />
<div class="container">
    <form class="border border-1 rounded p-3 m-3" method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-{{message.tags}}">
            {{message}}
        </p>
        {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input class="form-control" name="first_name" type="text" value="{{request.user.first_name}}"
                placeholder="Enter your first name" maxlength="100" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Last name</label>
            <input class="form-control" name="last_name" type="text" value="{{request.user.last_name}}"
                placeholder="Enter your last name" maxlength="100" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" value="{{request.user.email}}" disabled readonly />
        </div>
        <a class="my-3" href="{% url 'home' %}">Back to Home</a>
        <br />
        <a class="my-3" href="{% url 'password' %}">Change your password</a>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button class="btn btn-primary rounded-pill mt-3" type="submit">Update</button>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger rounded-pill mt-2">Log out</a>
        </div>
    </form>
</div>
{% endblock %}